@font-face {
  font-family: "ITCAvantGardeStd-Bk";
  src: local("ITCAvantGardeStd-Bk");
  src: url("/fonts/ITCAvantGardeStd-Bk.otf") format("opentype"); }
@font-face {
  font-family: "ITCAvantGardeStd-Bold";
  src: local("ITCAvantGardeStd-Bold");
  src: url("/fonts/ITCAvantGardeStd-Bold.otf") format("opentype"); }
