include ./includes/head.jade
body
  include ./includes/nav.jade
  section.main
    include ./includes/overlay.jade
    
    .main-about
      .row
        .one-half.column
          p Hello, <br>My name is Lena, I recently graduated from the School of Design at RIT. I’ve had the titles of Medical Illustrator, Experience Designer, Graphic Designer, and Artist – but whatever the title, if I’m making, I’m happy. I often draw inspiration from my German-American roots and the contrast of cultures I grew up in, namely USA and Germany. I believe in the importance of curiosity, collaboration and discovery through process; always inspired by the diversity of form, play and failure.
          
          p You can often find me collaborating with friends or discovering new mediums, see (blog link  here) for excerpts of process and collaborative works.

        .one-half.column  
          ul
            li: a(href="mailto:lenalaque@gmail.com") lenalaque@gmail.com
            li: a(href="#") behance
            li: a(href="#") blog
          
  include ./includes/footer.jade
</html>
