include ../includes/head.jade
body
  include ../includes/nav.jade
  section.main
    include ../includes/overlay.jade
    
    .main-inner
      img(src="/images/signature_mockup_index1.jpg")
  
  hr.portfolio-border-wide
  
  section.main  
    .main-story
      h2 Signature Magazine
      h3 Product Design
      
      .row
        p.columns.four Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        p.columns.four Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        p.columns.four Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
  hr.portfolio-border-wide
  section.main    
    .main-inner
      img(src="/images/signature_index_2.jpg")
  hr.portfolio-border-wide
  section.main
    .main-inner
      img(src="/images/index_mockup3.jpg")
  hr.portfolio-border-wide
  section.main
    .main-inner
      img(src="/images/card_mockups.jpg")
      
  include ../includes/footer.jade
</html>
