body
  .block.block-left
    span.percent
  .block.block-right
    #progressWrapper
      #myProgress
        #myBar
header
  nav  
    h3 
      a(href="/") lena laque
    ul.outer-nav
      ul.inner-nav-top
        li: a(href="/about.html" class="about-link") about
        li: a(href="/resume.pdf") resume
      ul.inner-nav-bottom
        li: a(href="javaScript:void(0);" class="portfolio-link") portfolio
