.overlay
  .wrapper.hidden
    header.portfolio-header
      nav  
        h3 
          a(href="/") lena laque
        ul.outer-nav
          ul.inner-nav-top
            li: a(href="/about.html" class="about-link") about
            li: a(href="#") resume
          ul.inner-nav-bottom
            li: a(href="javaScript:void(0);" class="portfolio-link") portfolio

    .portfolio
      nav
        ul.projects
          li
            ul.toggle-li
              li.active
                a(href="/portfolio/signature.html") 01 Signature Magazine
              li 
                a(href="/portfolio/signature.html") 01 Signature Magazine
            ul.toggle-li
              li.active
                a(href="/portfolio/fisheye.html") 02 Fish Eye Eyewear
              li
                a(href="/portfolio/fisheye.html") 02 Fish Eye Eyewear
        ul.projects
          li
            ul.toggle-li
              li.active
                a(href="/portfolio/abvi.html") 03 RIT ABVI
              li
                a(href="/portfolio/abvi.html") 03 RIT ABVI
            ul.toggle-li
              li.active
                a(href="/portfolio/posters.html") 04 POSTERS
              li
                a(href="/portfolio/posters.html") 04 POSTERS
        ul.projects
          li
            ul.toggle-li
              li.active
                a(href="/portfolio/capstone.html") 05 Capstone
              li
                a(href="/portfolio/capstone.html") 05 Capstone

    .overlay-bottom-border
